main {
  background-color: white;
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
}

.form--input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  font-family: 'Karla', sans-serif;
  text-indent: 10px;
}

.form--button {
  grid-column: 1 / -1;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  border-style: none;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}

.meme {
  position: relative;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.meme_img {
  margin-top: 30px;
  max-width: 100%;
}

.top_text {
  width: auto;
  position: absolute;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 50px;
}

.bottom_text {
  width: auto;
  position: absolute;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center; 
  bottom: 50px;
}
